<!-- <p>dashbord works!</p> -->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar  class="example-toolbar">
      <button style="border: 0px;" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img class="keepImage" src="../../../assets/keep_2020q4_48dp.png">
      <h1 class="example-app-name">Fundoo</h1>

      <div class="wholesearchbox">
        <img style=" color: #5f6368;margin-left: 10px; height: 30px;" src="../../../assets/search_black_24dp.svg">    
         <input class="inputSearchbox" type="text" placeholder="Search" (keyup)="filter($event)"> <!--[(ngModel)]="filteredString"-->
      </div>
   
       <button style="border: 0px;background-color: white; padding-left: 30px;"><img style="padding-top: 10px;" src="../../../assets/refresh_black_24dp.svg"></button> 

       <div *ngIf="!grid">
        <button style="border: 0px;background-color: white; padding-left: 20px;" (click)="formatListView();FormatView()"><img style="padding-top: 10px;" src="../../../assets/view_agenda_black_24dp.svg"></button>
       </div>
       <div *ngIf="grid">
          <button class="button" (click)="formatGridView();FormatView()"><img style="padding-top: 12px;" src="../../../assets/grid_view_black_24dp.svg"></button>
       </div>
        
        <button class="button"><img style="padding-top: 10px;" src="../../../assets/settings_black_24dp.svg"></button> 
        
        <button class="button"><img style="padding-top: 10px;" src="../../../assets/apps_black_24dp.svg"></button> 
        <button class="button" (click)="logout()"><img style="padding-top: 10px;" src="../../../assets/person_outline_black_24dp.svg"></button>     
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
          <a mat-list-item routerLink="./getallnotes"><img class="icon" src="../../../assets/lightbulb_black_24dp.svg">Notes</a>
          <a mat-list-item routerLink="./reminders"><img class="icon" src="../../../assets/notifications_black_24dp.svg">Reminders</a>
          <a mat-list-item routerLink="./editlabel"><img class="icon" src="../../../assets/edit_black_24dp.svg">Edit labels</a>
          <a mat-list-item routerLink="./archieve"><img class="icon" src="../../../assets/archive_black_24dp.svg">Archive</a>
          <a mat-list-item routerLink="./trash"><img class="icon" src="../../../assets/delete_black_24dp.svg">Trash</a>
        </mat-nav-list>
      </mat-sidenav>
  
       <mat-sidenav-content>
        <router-outlet></router-outlet> 
      </mat-sidenav-content> 
    </mat-sidenav-container>
  </div>
  
  
