<!-- <p>icons works!</p> -->

<div class="iconsSetting">
    <img class="imageSpace" src="../../../assets/add_alert_black_24dp.svg">
    <img style="padding-left: 20px;" src="../../../assets/person_add_alt_black_24dp.svg">
    <img style="padding-left: 30px;" src="../../../assets/image_black_24dp.svg">
    <img style="padding-left: 30px;" src="../../../assets/palette_black_24dp.svg">
    <img style="padding-left: 30px;" src="../../../assets/archive_black_24dp.svg">
    <img style="padding-left:30px" src="../../../assets/more_vert_black_24dp.svg">
</div>
