.iconsSetting
{
    display: flex;
    flex-direction: row;
    //padding-right: 100px;
    width: 100px;
    
    // height: 5%;
    //margin-left: 3px;
    background-color: white;
    align-items: center;
}
