.iconsSetting
{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 50px;
    width: 400px;
    height: 5%;
    margin-top: 200px;
    margin-left: 500px;
    border: 2px solid red;
    align-items: center;
}
.imageSpace
{
    padding-left: 30px;
}