.iconsSetting
{
    display: flex;
    flex-direction: row;
    //padding-right: 100px;
    width: 100px;
    
    // height: 5%;
    //margin-left: 3px;
    background-color: white;
    align-items: center;
}
.colorboxSetting
{
    width: 25px;
    height: 25px;
    border-radius: 12px;
    border: 0px solid;
    // display: flex;
    // flex-direction: row wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.imageSetting img{
    height: 20px;
}
.pallete
{
    // display: inline-table;
      width: auto;
    // display: flex;
    // flex-direction: column;
    display: inline-block;
    height: 10px;
    //  width: 15%;
    // height: 12px;
}