<div class="borderStyle">
    <form [formGroup]="resetPassword" (ngSubmit)="OnSubmit()">
    <h1>
        <span style="color: blue; padding-left: 100px;">F</span>
        <span style="color: red;">u</span>
        <span style="color: orange;">n</span>
        <span style="color: blue;">d</span>
        <span style="color: green;">o</span>
        <span style="color: red;">o</span>
        <h1 style="padding-left: 50px;">Reset Password</h1>
    </h1>
    <div>
        <mat-form-field class="designEmailreset" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password">
            <mat-error>Enter valid Password</mat-error>
        </mat-form-field>
    </div>
    <div>
        <button mat-button class="buttonStyleforNext">Next</button>
    </div>
  </form>
</div>
