.borderStyle{
    display: flexbox;
    border: 1px solid gray;
    width: 28%;
    margin-top: 90px;
    margin-left: 400px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 50%;
  }
.designEmailreset
{
  width: 80%;
}
.buttonStyleforNext
    {
      border: 0px;
      color: white;
      margin-left: 220px;
      background-color: blue;
      height: 40px;width: 70px;
    }