.borderStyle{
    display: flexbox;
    border: 1px solid gray;
    width: 30%;
    margin-top: 100px;
    margin-left: 400px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 50%;
  }
.designEmailreset
{
  width: 90%;
}
.designNextButton
{
  padding-left: 300px;
}