<!-- <p>createnote works!</p> -->

<div class="noteSetting" fxLayout="column" fxLayoutAlign="center center" ngClass.sm="createNote-sm" ngClass.xs="createNote-xs"> 
      <form [formGroup]="createNoteForm" (ngSubmit)="OnSubmit()"> 

            <div *ngIf="showTitle">
               <input type="text" class="takenoteSeting" placeholder="title" formControlName="title" ngClass.xs="descBar-xs" ngClass.sm="descBar-sm"> 
               <img ngClass.sm="pin-sm" ngClass.xs="pin-xs" style="margin-left: 120px;" src="../../../assets/push_pin_black_24dp.svg">
            </div>

            <div *ngIf="!showTitle  || showTitle">
                <input type="text" class="takenoteSeting" (click)="show()" placeholder="Take a note..." formControlName="takeNote" ngClass.xs="descBar-xs" ngClass.sm="descBar-sm">  
                <span *ngIf="!showTitle" fxHide.xs="true" fxHide.sm="true">
                  <img style="padding-left: 10px;" src="../../../assets/check_box_black_24dp.svg">
                <img style="padding-left: 10px;" src="../../../assets/brush_black_24dp (1).svg">               
                <img style="padding-left: 10px;" src="../../../assets/image_black_24dp.svg">
                </span>
                
            </div>   
            <div *ngIf="showTitle"  ngClass.xs="close-xs" ngClass.sm="close-sm">
                  <button mat-button class="closebuttonSetting">close</button>
            </div> 
            <div *ngIf="showTitle" ngClass.sm="icon-sm" ngClass.xs="icon-xs">
                  <app-icons></app-icons>
            </div>  
     
   </form>
</div>

