.noteSetting
{
    border: 1px solid ;
    border-color:#5f6368 ;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 60px;
    padding-top: 10px;
    margin-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.takenoteSeting
{
    height:50px;width: 450px;border: 0px; 
}
.closebuttonSetting
{
    margin-left:520px; border: 0px;font-size: large;background-color: white;margin-top: 20px;
}