<!-- <p>createnote works!</p> -->

<div class="noteSetting" >
     <mat-card>Title
         <img style="padding-left: 300px;" src="../../../assets/check_box_black_24dp.svg">
         <img style="padding-left: 30px;" src="../../../assets/brush_black_24dp.svg">
         <img style="padding-left: 30px; margin-top:20px ;" src="../../../assets/image_black_24dp.svg">
     </mat-card> 
     <!-- <input type="text" style="height:30%" placeholder="title"> -->
     <mat-card (click)=" onNoteClick()">Take a note...</mat-card>  
    <!-- <input type="text" placeholder="title">     -->
    <!-- <input type="text" placeholder="take a note">  -->
</div>
<div>
    <button mat-button style="margin-left:850px">close</button>
</div>
