  .borderStylelogin
{
  border: 1px solid #dadcdf;
  width: 500px;  
  margin-left: 200px;
  margin-top: 200px; 
  padding-top: 50px;
    padding-bottom: 90px;
    padding-left: 20px;
    //align-content: center; 
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}
.designEmail
{
  width: 90%;
  padding-right: 50px;
}
.Spaces .mat-form-field + .mat-form-field{
  margin-left: 20px;
  width: 100%;
  margin-top: 30px;
}
.Spacesforbutton 
{
  display: flex;
  gap: 10px 200px;
  width: 490px;
  color: blue;
  margin-top: 70px;
  font-size: medium;
  //justify-content: space-between;
}
.buttonStyleforCreate
{
  border: 0px;
  color: blue;
  font-size: medium;
  background-color: white;
}
.buttonStyleforNext
{
  border: 0px;
  color: white;
  background-color: blue;
  height: 50px;width: 60px;
}
.buttonStyleForForgot
{
  border: 0px;
  color: blue;
  font-size: small;
  background-color: white;
}
