<div class="borderStylelogin">
    <div style="padding-left: 70px;">
        <h1>
            <span style="color: blue; padding-left: 100px;">F</span>
            <span style="color: red;">u</span>
            <span style="color: orange;">n</span>
            <span style="color: blue;">d</span>
            <span style="color: green;">o</span>
            <span style="color: red;">o</span>
            <h1 style="padding-left: 100px;">Sign in</h1>
        </h1>
        <!-- <p style="font-size: medium;padding-left: 50px;">Use your Google Account</p> -->
        <a mat-button style="font-size: medium; color: black; padding-left: 60px;" >Use your Google Account</a> 
    </div>
    <div >
        <mat-form-field class="designEmail" appearance="outline">
            <mat-label>Email or Phone</mat-label>
            <input matInput placeholder="Email">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <a mat-button style="color: blue;">Forgot email?</a>
    </div>
    <div class="Spaces">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="text">
            
        </mat-form-field>  
        <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="text">
        </mat-form-field>
    </div>
    <div>
        <a mat-button style="color: gray; margin-top: 30px;">Not your computer? Use Guest mode to sign in privately.</a>       
    </div>
    <div>
        <a mat-button style="color: blue;">Learn more</a>
    </div>
    <div class="Spacesforbutton">
        <a mat-button>Create account</a>
        <button mat-raised-button>Next</button>
    </div>
</div>
