  .borderStylelogin
{
  border: 1px solid #dadcdf;
  width: 500px;  
  margin-left: 80px;
  margin-top: 50px; 
  padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 20px;
    //align-content: center; 
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}
.designEmail
{
  width: 80%;
  padding-right: 40px;
  padding-left: 30px;
}
.Spaces .mat-form-field + .mat-form-field{
  margin-left: 10px;
  width: 100%;
  margin-top: 30px;
}
.Spacesforbutton 
{
  display: flex;
  gap: 20px 220px;
  width: 490px;
  color: blue;
  margin-top: 70px;
  font-size: medium;
  //justify-content: space-between;
}
.buttonStyleforCreate
{
  padding-left: 40px;
  border: 0px;
  color: blue;
  font-size: medium;
  background-color: transparent;
}
.buttonStyleforNext
{
  border: 0px;
  color: white;
  background-color: blue;
  height: 50px;width: 60px;
}
.buttonStyleForForgot
{
  border: 0px;
  color: blue;
  font-size: small;
  background-color: transparent;
  padding-left: 40px;
}
