<div class="borderStyle">
    <div style=" width: 60%;">
        <div class="flexitem">
            <h1>
                <span style="color: blue;">G</span>
                <span style="color: red;">o</span>
                <span style="color: orange;">o</span>
                <span style="color: blue;">g</span>
                <span style="color: green;">l</span>
                <span style="color: red;">e</span>
            </h1>
            <div>
                <a mat-button style="font-size: large;">Create your google account</a>
            </div>
        </div>
        <div class="Spaces">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput placeholder="text">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="text">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="widthforBox" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="email">
                <mat-hint style="font-size: small;">  You can use letters,numbers & periods</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <a mat-button style="color: blue;">Use my current email address instead </a>
        </div>
        <div class="Spaces">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="text">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput placeholder="text">
            </mat-form-field>
    
            <div>
                <a mat-button style="color: gray;margin-top: 200px;">Use 8 or more characters with a mix of letters, numbers & symbols </a>
            </div>
            <div>
                <mat-checkbox style="margin-top: 20px;">Show password</mat-checkbox>
            </div>
            
            <div class="Spacesforbutton">
                <a mat-button style="margin-top: 70px;">Sign in instead</a>
                <button mat-flat-button style="margin-top: 70px;">Next</button>
                <!-- <button mat-raised-button color="blue">Next</button> -->
            </div>
        </div>
    </div>
    
    <div style="border: 1px solid red; width:200px;">
        <img src="../assets/accountimg.svg">
        <mat-hint style="font-size: medium; color: black;">One account. All of Google 
            working for you.</mat-hint>
        <!-- <area coords="34,44,270,350"> -->
    </div>
</div>