<div fxLayout="row wrap">
        <div *ngFor="let note of childMsg" fxLayout="column"  fxLayoutAlign="space-around center" class="noteDisplaySetting" [style.background]="note.color" [class.gridToList]="gridList">
                <div>
                        <p style="font-size: medium;font: bold;margin-left: -100px;" (click)="openDialog(note)" >{{note.title}}</p>
                        <p style="margin-left: -100px;" (click)="openDialog(note)">{{note.description}}</p>
                </div>
        
                <div style="margin-left: -115px;" [style.background]="note.color">
                        <app-icons (refresh)="receivedMessage($event)" [childMsg]="note"></app-icons>   
                </div>
          
        </div>
</div>
 
