<div class="borderStyle">
    <div class="UnderBorederStyle">
        <form [formGroup]="mailSearch" (ngSubmit)="OnSubmit()">
        <h1 style="padding-left: 30px;">
            <span style="color: blue; padding-left: 100px;">F</span>
            <span style="color: red;">u</span>
            <span style="color: orange;">n</span>
            <span style="color: blue;">d</span>
            <span style="color: green;">o</span>
            <span style="color: red;">o</span>
            <h1 style="padding-left: 50px; padding-top: 10px;">Find your email</h1>
            <a mat-button style="color: black; font-size: medium; padding-top: 30px;">Enter your phone number or recovery email</a>
        </h1>
        <div>
            <mat-form-field class="designEmailFind" appearance="outline">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>Enter valid Email id</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button mat-button class="buttonStyleforNext">Next</button>
        </div>
     </form>
    </div>
    
</div>
