<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="borderStyle">
    <div class="UnderBorederStyle" fxLayout="column" fxLayoutAlign="space-between left">
        <form [formGroup]="mailSearch" (ngSubmit)="OnSubmit()">
        <h1>
            <span style="color: blue; padding-left: 100px;">F</span>
            <span style="color: red;">u</span>
            <span style="color: orange;">n</span>
            <span style="color: blue;">d</span>
            <span style="color: green;">o</span>
            <span style="color: red;">o</span>
        </h1>

        <h1 style="padding-left: 60px;">Find your email</h1>
            <h3 style="color: black;padding-right: 20px;">Enter your phone number or recovery email</h3>

        <div fxLayout="column" fxLayoutAlign="stretch">
            <mat-form-field class="designEmailFind" appearance="outline">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>Enter valid Email id</mat-error>
            </mat-form-field>
            <div>
                <button mat-button class="buttonStyleforNext">Next</button>
            </div>
        </div>
       
     </form>
    </div>
  </div>
</div>
