.noteDisplaySetting
{
    //border: 1px solid green; 
    //width:600px;
<<<<<<< HEAD
    margin-left: 40px;
=======
    //margin-left: 5px;
>>>>>>> AutoRefresh
    border-color: #e0e0e0;
    margin-top: 5px;
    border-radius: 14px;
    width: 200px;
<<<<<<< HEAD
    height: 120px;
    padding-top: 10px;
}
.titleSetting
{
    width: 300px;
    height: 100px;
}
.descriptionSetting
{
    width: 300px;
    
    margin-top: 10px;
}
.updateButton
{
    margin-top: 30px;
    border: 0px;
    margin-left: 300px;
=======
    height: 150px;
    padding-top: 10px;
}
.titledescSetting
{
    margin-left: 80px;
    height: 80px;
    border: 0px;
    font-size: x-large;
}

.descriptionSetting
{
    margin-top: 10px;
    height: 80px;
    border: 0px;
    margin-left: 10px;
    font-size: large;
}
.updateButton
{
    margin-top: 50px;
    border: 0px;
    margin-left: 450px;
    border: 0px;
    font-size: large;
        height: 50px;width: 60px;
>>>>>>> AutoRefresh
}