.noteDisplaySetting
{
    //border: 1px solid green; 
    //width:600px;
    margin-left: 40px;
    border-color: #e0e0e0;
    margin-top: 5px;
    border-radius: 14px;
    width: 200px;
    height: 120px;
    padding-top: 10px;
}
.titleSetting
{
    width: 300px;
    height: 100px;
}
.descriptionSetting
{
    width: 300px;
    
    margin-top: 10px;
}
.updateButton
{
    margin-top: 30px;
    border: 0px;
    margin-left: 300px;
}