 <!-- <p>update works!</p>  -->
 <div fxLayout="row wrap">
   <div fxLayout="column"  fxLayoutAlign="space-around center" class="noteDisplaySetting">

    <input type="text" placeholder="Title" style="font-size: larger;height: 20px;width: 100%;" [(ngModel)]="title">
    <input type="text" placeholder="description" style="font-size: medium;margin-top: 10px;margin-left: 1px;height: 20px;width: 100%;"[(ngModel)]="description">

    
    
    <div style="display: flex;">
      <app-icons style="margin-top: 30px;"></app-icons>
      <button (click)="onNoClick()" class="closeButton">close</button>      
    </div>
    
   </div>
  
 </div>
      
  